<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="ULO4.css">
</head>
<header>
    <table style="width: 100%;">
        <tr>
            <td style="margin-left: 5px; font-size: 50px; padding-right: 20px;">
                <a href="portfolio.html">My Learning Journey</a>
            </td>
            <td
                style="text-align: right; margin-right: 30px; font-size: 50px; padding-left: 20px; padding-right: 20px;">
                <a href="ULO1.html">ULO1&2</a>
            </td>


            <td style="text-align: right; font-size: 50px; padding-left: 20px; padding-right: 20px;">
                <a href="ULO3.html">ULO3</a>
            </td>


            <td style="text-align: right; font-size: 50px; padding-left: 20px;">
                <a href="ULO4.html">ULO4</a>
            </td>
        </tr>
    </table>
</header>

<body>

    <head>
    </head>
    <div id="table-container">
        <table style="margin-top: 260px ; width: 80%;">
            <tr>
                <th style="font-size: 50px; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 300;">
                    ULO4
                </th>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 50px;">Click on the box for ULO4 Journey</p>
                    <div id="app" style="background-color: burlywood; font-size: 30px;">
                        <div v-on:click="changeText">
                            {{ text }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <p>Have I personally achieved ULO 4 </p>

            </tr>

            <tr>
                <td>
                    <p>Yes</p><input type="radio" v-model="rdio" value="Yes"
                        :style="{ color: rdio === 'Yes' ? 'green' : '' }">
                    <p>No</p> <input type="radio" v-model="rdio" value="No" disabled
                        :style="{ color: rdio === 'No' ? 'red' : '' }">
                </td>
            </tr>
        </table>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    text: 'The fourth learning outcome is shown through this online learning portfolio with a mix of all the skills and knowledge learned from this unit.',
                    isVisible: false,
                    rdio: ''
                };
            },
            methods: {
                changeText() {
                    this.text = 'Thankyou for viewing!';
                },
                toggleText() {
                    this.isVisible = !this.isVisible;
                }
            }
        });
    
        app.mount('#app');
    </script>
    
</body>



</html>